VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
VITE_ONLINE_ORDERS_SHEET_ID=YOUR_ONLINE_ORDERS_SHEET_ID
VITE_ONLINE_ORDERS_SHEET_GID=YOUR_ONLINE_ORDERS_TAB_GID
VITE_SHOWROOM_SHEET_ID=YOUR_SHOWROOM_SHEET_ID
VITE_SHOWROOM_SHEET_GID=YOUR_SHOWROOM_TAB_GID
VITE_SYSTEM_DATABASE_SHEET_ID=YOUR_SYSTEM_DATABASE_SHEET_ID
VITE_SYSTEM_DATABASE_SHEET_GID=YOUR_SYSTEM_DATABASE_TAB_GID
